:root {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
}

.arabic {
    --help_top: -30px;
    --help_right: none;
    --help_left: 25px;
    --help_gpa_top: -25px;
    --help_gpa_right: none;
    --help_gpa_left: 25px;
    --text_dir: right;
    --flex_start: end;
    --test: green;
}


.english {
    --help_gpa_top: -25px;
    --help_gpa_right: 25px;
    --help_gpa_left: none;
    --help_top: -25px;
    --help_right: 25px;
    --help_left: none;
    --flex_start: start;
    --text_dir: left;
    --test: red
}

* {
    box-sizing: border-box;

}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    /* background-color: var(--test); */
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 600px;
    width: 100%;
    margin: 5px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    font-size: 2.1rem;
    color: #333;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1rem;
    color: #666;
    margin-bottom: 30px;
}


.how-buttons-holder {
    /* border: solid red; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
    margin: 15px;
}

.how-button {
    width: 250px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.popup-overlay {
    opacity: 0;
    transition: opacity 0.3s ease;

    /* display: none; */
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 998;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.popup-overlay.show {
    opacity: 1;
}

.popup {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
    transition: all .3s ease;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    width: 90%;
    max-width: 600px;
    padding: 10px;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    text-align: var(--text_dir);
    line-height: 1.5;
    z-index: 999;
    overflow-y: auto;
}

.popup.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.popup h2 {
    margin: 0px 0;
    text-align: center;
}

.popup ul {
    margin: 5px 0;
    padding: 0 25px;
}

.popup ul li {
    /* border: solid red; */
    margin: 0;
}


.popup p {
    margin: 5px 0;
}

.popup button {
    width: 20%;
    height: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

@media (max-width: 750px) {
    .popup {
        margin: 0 0 !important;
        font-size: small;
        /* border: red solid 5px; */
    }

    button:hover {
        background-color: #6a11cb;
    }
}

/* Input Section */
.input-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.input-label img {
    width: 20px;
}

.input-section {
    background-color: #fff;
    /* padding: 20px; */
    border-radius: 10px;
    margin: 30px 0;
}

.form-group {
    /* border: solid red; */
    margin-bottom: 15px;
    text-align: var(--text_dir);
    position: relative;
}

.help {
    -webkit-box-shadow: 2px 6px 24px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 6px 24px -11px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 6px 24px -11px rgba(0, 0, 0, 0.75);
    /* background: linear-gradient(135deg, #e8d7fb, #d1e2ff); */
    background: linear-gradient(135deg, #e6efff, #eee3fa);
    border: #6666663f solid 1px;
    padding: 10px;
    border-radius: 5px;
    max-width: 350px;
    color: #000;
    font-size: 14px;
    position: absolute;
    top: var(--help_top);
    right: var(--help_right);
    left: var(--help_left);
    z-index: 10;
}

#prevGPAHelp {
    top: var(--help_gpa_top);
    right: var(--help_gpa_right);
    left: var(--help_left);
}

.help-icon {
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.help-icon img {
    width: 20px;
}

.lin {
    width: 100%;
    height: 1px;
    background-color: #00000080;
    margin: 25px 0;
}

label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
    color: #555;
}

input,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
    /* ده مهم جدًا */
    appearance: none;
    /* ده يقلل تأثير المتصفح على شكل السليكت */
}



input:focus,
select:focus {
    border-color: #6a11cb;
    outline: none;
}

/* Subjects Container */
.subjects-container {
    margin-bottom: 20px;
    direction: var(--text_dir);
}

/* Button */
button {
    width: 100%;
    padding: 15px;
    background-color: #6a11cb;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

@media (hover: hover) {
    button:hover {
        background-color: #2575fc;
    }
}

button:active {
    background-color: #2575fc;
}

/* Output Section */
.output-section {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    text-align: var(--text_dir);
}

.output-section p {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

.result {
    font-weight: 600;
    color: #6a11cb;
}

/* Error Message */
.error-message {
    margin-top: 20px;
    padding: 10px;
    background-color: #ffc5ce;
    color: #ff0000;
    border-radius: 5px;
    font-size: 16px;
    display: none;
}



.notes-table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    direction: ltr;
    /* border: 3px solid #ff0026; */
    /* background: #000; */
}

.notes-table tr,
td {
    border: 1px solid #e9e9e9;
    border-left: none;
    border-right: none;
    padding: 3px;
    /* text-align: start; */
}

.math {
    display: flex;
    flex-direction: column;
    align-items: var(--flex_start);
    justify-content: center;
    height: 150px;
    /* border: solid red; */
    max-width: 100%;
    overflow-x: auto;
    /* لمنع التمدد الزائد وإتاحة التمرير عند الحاجة */
}

.math math {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    color: #000000;
    margin: 15px;
}

@media (min-width: 500px) {
    .math math {
        font-size: 20px;
    }

}